
mat-card-title{
  text-align: center;
  margin-bottom: 25px;
}

mat-card {
  max-width: 40%;
  margin-left: 25%;
}

button {
  margin-top: 15px;
  margin-left: 34%;

  &:hover{
    cursor: pointer;
  }
}


mat-icon {

  &:hover {
    cursor: pointer;
  }
}

mat-icon[matListIcon] {
  float: right;
}

mat-icon.check{
  float: right;
}

.complete {
  float: left;
}



