<form [formGroup] = "formGroup">
    <mat-form-field for="email" class="email" appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput name="email" type="text" class="email" id="email" aria-describedby="emailHelp" formControlName="email">
    </mat-form-field>
    <mat-form-field for="password" class="password" appearance="fill">
      <mat-label>Enter your password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" name="password" type="text" class="password" id="password" aria-describedby="passwordHelp" formControlName="password">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    <p class="sm-caption">If you do not have an account, Click Here --><a [routerLink]="['/sign-up']"> Sign-Up</a></p>
    <button mat-raised-button color="primary" class="submit"(click)="reloadPage();signIn()"[mat-dialog-close]>Submit</button>
</form>
