mat-card{
  height: 95%;
  max-width: 38%;
  margin-top: 100px;
  margin-left: 30%;
  margin-right: 30%;

}

.password {
  margin-left: 25px;
}

.submit {
  width: 90%;
  margin-left: 5%;
}

.sm-caption {
  text-align: center;
}
