mat-toolbar{
  width: 100%;
  color: white;
}

.main-button-header{
font-size: 40px;
margin-left: 15px;
}

section{
  float: right;
  margin-left: 68%;

  p{
    display: inline;
    margin-right: 8%;
  }
}

.sign-in{
  margin-right: -20px;
}

span {
  cursor: pointer;
}

button{
  background:rgb(226, 226, 90);
  margin-left: 50px
}

p {
  color: rgb(214, 213, 213);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 25px;
}

