mat-toolbar{
  color: rgb(243, 250, 252);
  background-color: rgb(85, 188, 223);
  font-family: 'Roboto, monospace';
  font-weight: 'bold';
  font-size: 20px;
  border: red 10px;
}

section{
  float: right;
  margin-left: 68%;

  p{
    display: inline;
    margin-right: 8%;
  }
}



