<mat-drawer-container class="navbar-container">
  <mat-drawer class="sidebar" mode="side" opened>Sidebar and stuff
    <ul>
      <li>
        <section>
        <div class="add-list"></div>
        <div class="list-button-column">
          <button mat-raised-button color="primary">Add list</button>
          <button mat-raised-button color="primar">Next Button</button>
        </div>
      </section>
    </li>
    </ul>
  </mat-drawer>
  <mat-drawer-content class="main"><mat-card class="card">Simple card</mat-card></mat-drawer-content>
</mat-drawer-container>

