.navbar-container {
   height: 100%;
   background: white;
  }

.sidebar{
  min-width: 25%;
  background-color: rgb(17, 118, 233);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size:18px;
  padding-top: 10px;
  text-align: center;
  border: solid black 2px;

  ul{

  }

  li{
    list-style: none;
  }

  button{
    margin-right: 35px;
    margin-top: 10px;
    margin-bottom:10px;
    background-color: red;

    &:hover{
      background: darken($color: #bd3333, $amount: 0);
    }
  }
}

.main {
  background: linear-gradient(#fefefe, #030303);
  text-align: center;
 // border: solid black 2px;
}

.card {
  width: 200px;
  background-color: horizontal-gradient(rgb(255, 255, 255), purple);
  text-align: left;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

