.mat-sidenav-container{
  height: 100%;
}

.mat-sidenav{
  width: 20%;
  text-align: center;


  p{
    margin-top: 25px;
  }
}

.mat-sidenav-content{
  height: 100%;
}

.list-title {
  -webkit-filter: brightness(100%);
  color: white;
  margin-top: 25px;
}
