.list-title {
  -webkit-filter: brightness(100%);
  margin-top: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
  //font-weight: bold;

  &:hover {
    cursor: pointer;
  -webkit-filter: brightness(70%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  }
}

.material-icons{
  cursor: pointer;
}
.mat-sidenav-container{
  height: 100%;
}

.mat-sidenav{
  max-width: 20%;
  min-width: 20%;
  margin: 0;
  text-align: center;

  h2{
    margin-top: 25px;
  }
}

.mat-sidenav-content{
  height: 100%;
  //background: linear-gradient(white, pink);
}


mat-card {
  text-align: center;
  margin-left: 28%;
  margin-top: 18%;
  width: 40%;
  height: 40%;
  background:#46344E;
  color: #FAED26;
}


  button {
    color:#46344E;
  }

  .menu {
    color: #FAED26;
    background: none;
  }

  .complete {
    text-decoration: line-through;
    text-decoration-color: white;
  }
