mat-card{
  width: 500px;
  margin-top: 100px;
  margin-left: 30%;
}

.last-name{
  margin-left: 10px;
}

mat-form-field.email{
  width: 89%;
}

.password{
  margin-right: 10px;
}

.cancel{
  margin-left: 65%;
}

p{
  margin-left: 115px;

}

