<mat-dialog-content>
  <form>
    <mat-icon class="material-icons"[mat-dialog-close]>close</mat-icon>
    <p>fill in the fields to add a card</p>
    <mat-form-field appearance="fill">
      <mat-label></mat-label>
      <textarea matInput type="text" class="body" name="body" id="body" aria-describedby="body" [(ngModel)]="newCard.body"></textarea>
    </mat-form-field>
      <button mat-raised-button class="submit" color="primary"(click)="addACard();reloadPage();"[mat-dialog-close]>Submit</button>
  </form>
</mat-dialog-content>
