

mat-card {
  max-width: 30%;
  max-height: 50%;
  margin-bottom: 25px;
  margin-left: 40px;
  margin-top: 25px;

  mat-icon {
    float: right;

    &:hover {
      cursor: pointer;
    }
  }
}

.list-container {
  box-shadow: 10px 5px 8px rgb(54, 223, 209);
  background: linear-gradient(rgb(130, 130, 228),blue);
  color:#FAED26;
}

mat-card.add-list{
  float: right;
}

.checkmark {
  margin-bottom: 50px;
}

mat-sidenav-content {
  background: linear-gradient(rgb(193, 116, 238), rgb(139, 75, 243));
}

h3:hover {
  cursor: pointer;
}

.complete {
  text-decoration: line-through;
  text-decoration-color: white;
}
