
mat-card {
  max-width: 30%;
  max-height: 50%;
  margin-bottom: 25px;
  margin-left: 40px;
  margin-top: 25px;

  mat-icon {
    float: right;
    
    &:hover {
      cursor: pointer;
    }
  }
}

.list-container {
  background: rgb(194, 142, 224);
  box-shadow: 10px 5px 8px rgb(145, 145, 145);
}

mat-card.add-list{
  float: right;
}

// .container {
//   background-color: rgb(196, 196, 196);
//   padding-top: 20px;
// }

.checkmark {
  margin-bottom: 50px;
}

