

mat-card {
  max-width: 30%;
  max-height: 50%;
  margin-bottom: 25px;
  margin-left: 40px;
  margin-top: 25px;

  mat-icon {
    float: right;

    &:hover {
      cursor: pointer;
    }
  }
}

.list-container {
  color:#FAED26;
}

mat-card.add-list{
  float: right;
}

.checkmark {
  margin-bottom: 50px;
}


h3:hover {
  cursor: pointer;
}

.complete {
  text-decoration: line-through;
  text-decoration-color: white;
}
